x-base: &app_base
  build: .
  image: odbijacz
  env_file: [.env]


services:
  prod:
    <<: *app_base
    profiles: ["prod"]
    container_name: odbijacz
    expose: ["8000"]
    environment:
      TZ: Europe/Warsaw
      VIRTUAL_HOST: odbijacz.elektrometal-energetyka.pl
      VIRTUAL_PORT: "8000"
    networks: [microservices]

  dev:
    <<: *app_base
    profiles: ["dev"]
    container_name: odbijacz-dev
    environment:
      TZ: Europe/Warsaw
    ports: ["5000:8000"]
    volumes: [./app:/code/app]
    command: >
      uvicorn app.asgi:asgi_app
      --host 0.0.0.0 --port 8000 --reload


networks:
  microservices:
    external: true
