<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title>{% block title %}{% endblock %}</title>
  
</head>

<body>
  <div class="wrap">
      {% block body %}{% endblock %}
  </div>
    {% block scripts %}{% endblock %}
</body>

</html>